*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
    position: fixed;
    height: 155px;
    margin:0;
    padding: 0;
    background: #9DC743;
box-shadow: 0px 3px 7px 0px #999999, -707px 4px 113px -79px rgba(250, 255, 0, 0.25) inset;
z-index: 1000;
}

.main-view{
    max-width: 1440px;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 155px;
    
}

.header-content{
  max-width: 1440px;
  width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body{
    margin: 0;
    padding: 0;
}

#header-logo{
    height: 150px;
    padding: 0px;
    margin-left: 3%;
    display: block;
    
}

ul{
  padding: 0;
  margin: 0;
}

a{
  padding: 0;
  margin: 0;
}

nav li{
    display: inline-block;
    flex-direction: row;
}

.desktop-nav{
    vertical-align: top;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    display:inline-flex;
    
  }

  nav a {
    padding: 0;
    margin: 0;
  }

.nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 20px;
    
}

li a {
  padding: 0px;
  margin: 0;
}

.active{
  font-size:x-large;
  font-weight: 600;
  color:rgb(251, 255, 0);
text-shadow: 1px 0px 1px rgb(105, 105, 105);
text-decoration: underline 1px;
}

/*image slider - start*/

.container {
	padding: 10%;
  }

.slider-wrapper {
	position: relative;
	max-width: 70%;
	margin: 0 auto;
}

.slider {
	display: flex;
	width: 100%;
  height: 350px;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; /
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
display: flex;

  max-width: fit-content;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.slider-deco-frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
}

/*image slider - end*/

  .decorative-brake-image{
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 3px 0px 0px #999999;
  }

  .inspiration-text{
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 10%;
  }

 .home-info-container{
  box-shadow: 0px 4px 10px 0px #999999;
 }

 .home-info-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;

 }

 .home-info-content-block{
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .go-to-funfacts{
  background-color: #9DC743;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    margin: 20px 50px;
    margin-top: 15%;
    box-shadow: 0px 3px 7px 0px #4d4d4d, -707px 4px 113px -79px rgba(250, 255, 0, 0.25) inset;
    border-radius: 50px;
 }

 .go-to-funfacts:hover{
  scale: 1.05;
  background-color: #c2eb69;
 }


 .go-to-about-page{
  background-color: #9DC743;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    margin: 20px 50px;
    margin-top: 15%;
    box-shadow: 0px 3px 7px 0px #4d4d4d, -707px 4px 113px -79px rgba(250, 255, 0, 0.25) inset;
    border-radius: 50px;
 }

 .go-to-about-page:hover{
  scale: 1.05;
  background-color: #c2eb69;
 }

 .home-info-content-block-img-owl{
 padding: 15%;
 }

 .home-info-content-block-img-museum{
  width: 50%;
  display: flex;
margin-left: 25%;
box-shadow: 0px 5px 10px 0px #363636;

 }

 .content-background-color-green{
  background: rgb(157, 199, 67);
 }

 .content-background-color-yellow{
  background: rgb(255,222,23);
 }

 .content-background-color-light-blue{
  background: rgb(210, 250, 245);
 }





.footer-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  height: 350px;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(157, 199, 67, 1), rgba(157, 199, 67, 0)); 
}

.footer-content{
margin-top: 5%;
margin-left: auto;
margin-right: auto;
}

.cms-text{
  font-size: small;
}
  
.social-media-icons{
  display: flex;
  justify-content: center;
  }

  .social-media-row{
    display: flex;
  }

  .facebook-logo{
    width: auto;
    height: 50px;
    margin-right: 20px;
    margin-top: 10%;
  }

  .instagram-logo{
    width: auto; 
    height: 50px;
    margin-top: 10%;

  }

  .x-logo{
    width: auto;
    height: 50px;
    margin-left: 20px;
    margin-top: 10%;
  }

.to-the-top-btn{
display: flex;
}

.to-the-top-content{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 10%;;
}

.to-the-top-link{
  margin: 0;
  padding: 0;
}

/*ABOUT PAGE STARTS*/
/*buttons on top of about page start*/

.about-buttons-container{
  display: flex;
  justify-content: center;
  position:fixed;
  padding: 100px;
  margin-left: 11%;
  z-index: 1000;
}

.about-button-1{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(169, 211, 73);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px #999999;
}

.about-button-2{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(255, 222, 23, 1);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px #999999;
}

.about-button-3{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(210, 250, 245, 1);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px #999999;
}

.about-button-4{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px #999999;
}

/*buttons on top of about page end*/

.about-info-cards-content{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.cms-card{
  width: 100%;
  height: 100%;
  background-color: #9DC743;
  margin: 40px 0px 40px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
  flex-direction: column;
  display: flex;
}

.for-kids-card{
  width: 100%;
  height: 100%;
  background-color: #FFDE17;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.teachers-card{
  width: 100%;
  height: 100%;
  background-color: #D2FAF5;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.researchers-card{
  width: 100%;
  height: 100%;
  background-color: #E0E0E0;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.cms-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.kids-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.teachers-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.researchers-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.cms-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
}

.cms-info-text-container{
  width: 50%;
 }

 .cms-img-container{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: -25%;
  margin-right: 3%;
 }

 .cms-img{
  width: 25%;
}

.kids-info-text-container{
  width: 50%;
}

.kids-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
  }

  .kids-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -25%;
  margin-right: 3%;
  }

  

  .teacher-info-text-container{
    width: 50%;
  }

  .teacher-p{
    font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
  }

  .teacher-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -15%;
    margin-right: 3%;
  }

.research-info-text-container{
  width: 50%;
}

.research-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
}

.research-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -15%;
    margin-right: 3%;
}
/*ABOUT PAGE END*/

/*CONTACT PAGE STARTS*/

.visit-card{
  width: 100%;
  height: 100%;
  background-color: #9DC743;
  margin: 40px 0px 40px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
  flex-direction: column;
  display: flex;
}

.visit-info-text-container{
  width: 50%;
}

.visit-img-container{
  
  display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -20%;
    margin-right: 3%;
}

.visit-img{
  width: 25%;
}
.visit-h1{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 3%;
  padding: 30px;
}

.visit-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
}

iframe{
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 50px;
  width: 50%;
  height: 250px;
  margin-left: 2%;
  
}
  


.open-card{
  width: 100%;
  height: 100%;
  background-color: #FFDE17;
  margin: 40px 0px 40px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
  flex-direction: column;
  display: flex;
}

.open-text-container{
  width: 50%;
}

.open-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -20%;
    margin-right: 4%;
}

.open-h1{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 3%;
  padding: 30px;
}

.open-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
}

.accessibility-card{
  width: 100%;
  height: 100%;
  background-color: #1E447D;
  margin: 40px 0px 40px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
  flex-direction: column;
  display: flex;
}

.accessibility-info-text-container{
  width: 50%;
}

.accessibility-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -15%;
    margin-right: 4%;
}

.accessibility-img{
  width: 35%;
}

.accessibility-h1{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 3%;
  padding: 30px;
  color: white;
}

.accessibility-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
  color: white;
}

/*EVENTS PAGE START*/

.events-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
}

.events-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
  
}

.night-in-museum{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 10%;
}

.night-in-museum-img{
  border-radius: 50px;
  height: 85%;
}

/*FUNFACT PAGE START*/

.funfact-card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.card-1{
background: rgba(210, 250, 245, 1);
width: 450px;;
height: 500px;
margin: 10px;
border-radius: 20px;
box-shadow: 0px 4px 10px 0px #999999;
}

.card-2{
  background:#9DC743;
  width: 450px;;
  height: 500px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.card-1-h1{
  text-align:center;
  position: relative;
  margin-top: 15%;
}

.card-2-h1{
  text-align:center;
  position: relative;
  margin-top: 15%;
}

.card-1-img-container{
  width: 450px;
  height: 250px;
  background-size: cover;
}

.card-1-img{
  background-image: url('/images/brain-drawing-web.png'); 
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 23%;
  margin-top: 10%;
}

.card-2-img-container{
  width: 450px;
  height: 250px;
  background-size: cover;
}
.card-2-img{
  background-image: url('/images/reading-2762010_1280.png'); 
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 23%;
  margin-top: 10%;
  }

  .card-1 a{
    background-color: #9DC743;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: center;
    padding: 15px 20px;
    margin: 20px 50px;
    margin-top: 25%;
    box-shadow: 0px 3px 7px 0px #999999, -707px 4px 113px -79px rgba(250, 255, 0, 0.25) inset;
    border-radius: 20px;
}

.card-2 a{
  background-color: rgba(210, 250, 245, 1);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  padding: 15px 20px;
  margin: 20px 50px;
  margin-top: 25%;
  box-shadow: 0px 3px 7px 0px #999999;
  border-radius: 20px;;
}

.card-1:hover{
  transform: scale(1.05);
  background-color:#baf3ec;
  transition: 500ms;
}

.card-2:hover{
  transform: scale(1.05);
  background-color:#81a82c;
  transition: 500ms;
}

.funfact-main-h1{
  text-align: center;
  padding: 50Px;
}

/*FUNFACT PAGE END*/

/*FUNFACT "THE BRAIN" START*/

.facts-container{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.facts-background-img{
  background-image: url('/images/blacboard-noframe.jpg');
  width: 100%;
  height: auto;
  background-size: cover;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 7px 0px #999999;
}

.facts-container p{
  color: white;
  font-size: larger;
}

.mainbrain-h1{
  text-align: center;
  margin-top: 5%;
}

.back-btn{
  background-color: #9DC743;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  padding: 15px 20px;
  margin: 10% 40%;
  margin-top: 10%;
  box-shadow: 0px 3px 7px 0px #999999, -707px 4px 113px -79px rgba(250, 255, 0, 0.25) inset;
  border-radius: 20px;
}

.mainastro-h1{
  text-align: center;
  margin-top: 5%;
}