*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
    width: 100%;
    position: fixed;
    height: 155px;
    margin:0;
    padding: 0;
    background: #9DC743;
box-shadow: 0px 3px 7px 0px #999999, -707px 4px 113px -79px rgba(250, 255, 0, 0.25) inset;
z-index: 1000;
}

.main-view{
    max-width: 1440px;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 155px;
    
}

.header-content{
  max-width: 1440px;
  width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#header-logo{
    height: 150px;
    padding: 0px;
    margin-left: 3%;
    display: block;
    
}

ul{
  padding: 0;
  margin: 0;
}

a{
  padding: 0;
  margin: 0;
}

nav li{
    display: inline-block;
    flex-direction: row;
}

.desktop-nav{
    vertical-align: top;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    display:inline-flex;
    
  }

  nav a {
    padding: 0;
    margin: 0;
  }

.nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 20px;
    
}

li a {
  padding: 0px;
  margin: 0;
}

/*image slider - start*/

.container {
	padding: 10%;
  }

.slider-wrapper {
	position: relative;
	max-width: 70%;
	margin: 0 auto;
}

.slider {
	display: flex;
	width: 100%;
  height: 350px;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; /
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
display: flex;

  max-width: fit-content;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/*image slider - end*/

  .decorative-brake-image{
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 3px 0px 0px #999999;
  }

  .inspiration-text{
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 30px;
  }

 .home-info-container{
  box-shadow: 0px 4px 10px 0px #999999;
 }

 .home-info-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;

 }

 .home-info-content-block{
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .home-info-content-block-img{
 padding: 10%;
 }

 .content-background-color-green{
  background: rgb(157, 199, 67);
 }

 .content-background-color-yellow{
  background: rgb(255,222,23);
 }

 .content-background-color-light-blue{
  background: rgb(210, 250, 245)
 }



.button-1{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(169, 211, 73);
  border-radius: 50px;
  }

.button-2{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(169, 211, 73);
  border-radius: 50px;
}

.footer-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  height: 350px;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(157, 199, 67, 1), rgba(157, 199, 67, 0)); 
}

.footer-content{
margin-top: 5%;
margin-left: auto;
margin-right: auto;
}

.cms-text{
  font-size: small;
}
  
.social-media-icons{
  display: flex;
  justify-content: center;
  }

  .social-media-row{
    display: flex;
  }

  .facebook-logo{
    width: auto;
    height: 50px;
    margin-right: 20px;
    margin-top: 10%;
  }

  .instagram-logo{
    width: auto; 
    height: 50px;
    margin-top: 10%;

  }

  .x-logo{
    width: auto;
    height: 50px;
    margin-left: 20px;
    margin-top: 10%;
  }

.to-the-top-btn{
display: flex;
}

.to-the-top-content{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 10%;;
}

.to-the-top-link{
  margin: 0;
  padding: 0;
}

/*buttons on top of about page*/

.about-buttons-container{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-button-1{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(169, 211, 73);
  border-radius: 50px;
}

.about-button-2{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(255, 222, 23, 1);
  border-radius: 50px;
}

.about-button-3{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(210, 250, 245, 1);
  border-radius: 50px;
}

.about-button-4{
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50px;
}

.about-info-cards-content{
  display: flex;
  flex-direction: column;
}

.cms-card{
  width: 100%;
  height: 100%;
  background-color: #9DC743;
  margin: 40px 0px 40px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
  flex-direction: column;
  display: flex;
}

.for-kids-card{
  width: 100%;
  height: 100%;
  background-color: #FFDE17;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.teachers-card{
  width: 100%;
  height: 100%;
  background-color: #D2FAF5;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.researchers-card{
  width: 100%;
  height: 100%;
  background-color: #E0E0E0;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #999999;
}

.cms-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.kids-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.teachers-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.researchers-h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  padding: 30px;
}

.cms-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
}

.cms-info-text-container{
  width: 50%;
 }

 .cms-img-container{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: -25%;
  margin-right: 3%;
 }

 .cms-img{
  width: 25%;
}

.kids-info-text-container{
  width: 50%;
}

.kids-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
  }

  .kids-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -25%;
  margin-right: 3%;
  }

  

  .teacher-info-text-container{
    width: 50%;
  }

  .teacher-p{
    font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
  }

  .teacher-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -15%;
    margin-right: 3%;
  }

.research-info-text-container{
  width: 50%;
}

.research-p{
  font-size: large;
  text-align: left;
  padding: 30px;
  line-height: 1.6rem;
}

.research-img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -15%;
    margin-right: 3%;
}

