header{
    width: 100%;
    position: relative;
    height: 150px;
    background-color: rgb(157, 199, 67);
    margin:0;
    padding: 5px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#header-logo{
    width: 7%;
    margin: 5px;
}

nav li{
    display: inline-block;
}

nav{
    vertical-align: top;
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-top: 95px;
    display:inline-flex;
    margin-left: 65%;
    position: sticky;
    font-family: 
}

.nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 20px;
}

.slider {
    width: 750px;
    height: 350px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 750px;
    background-color: pink;
    height: 350px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 750px;
    height: 350px;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -750px;
  }
  #slide-3:target ~ .image-container {
    left: -1500px;
  }
  .buttons {
    position:sticky;
    padding: 0;
    margin: 0;
    margin-left: 50%;
  }
  .buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
  }